{% extends 'base.html' %}
{% block content %}
{% load static %}
<form method="post">
	{% csrf_token %}
	<fieldset>
		<h1 style = "color: #6060cc;" class="tablink" onclick="openPage('new')" id="defaultOpen">Add Meeting time</h1>
		<a href="{% url 'editmeetingtime' %}"><h1 style = "color: #6060cc;" class="tablink" onclick="openPage('edit')" id="link_to_edit">Edit Meeting time</h1></a>
		<div style = "color: #6060cc;" class="tabcontent" id="new">
			{{ form.as_p }}
		<input style = "background-color: #6060cc;" type="submit" value="Submit" class="submit">
		</div>
	</fieldset>
</form>

{%endblock%}
